<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>都道府県リスト</title>
    <link rel="stylesheet" href="stylesheets/main.css">
</head>
<body>
<h1>都道府県リスト</h1>
<p>日本の47都道府県のリストを様々な形式で提供します。IDはJIS X 0401のコードに合わせています。</p>

<div>
    <h2 class="inline-block">テキスト</h2>
    <button id="btn-text" type="button" onclick="toggle('text')">表示</button>
<textarea name="text" id="text" cols="50" rows="50" readonly class="hidden">
{% for id, name in prefectures %}
{{ name }}
{% endfor %}
</textarea>
</div>

<div>
    <h2 class="inline-block">HTML(リスト)</h2>
    <button id="btn-html" type="button" onclick="toggle('html')">表示</button>
<textarea name="html" id="html" cols="50" rows="50" readonly class="hidden">
&lt;ul&gt;
{% for id, name in prefectures %}
&lt;li&gt;{{ name }}&lt;/li&gt;
{% endfor %}
&lt;/ul&gt;
</textarea>
</div>

<div>
    <h2 class="inline-block">HTML(select)</h2>
    <button id="btn-html-select" type="button" onclick="toggle('html-select')">表示</button>
<textarea name="html-select" id="html-select" cols="50" rows="50" readonly class="hidden">
&lt;select&gt;
{% for id, name in prefectures %}
&lt;option value="{{ id|number_format }}"&gt;{{ name }}&lt;/option&gt;
{% endfor %}
&lt;/select&gt;
</textarea>
</div>

<div>
    <h2 class="inline-block">SQL</h2>
    <button id="btn-sql" type="button" onclick="toggle('sql')">表示</button>
<textarea name="sql" id="sql" rows="50" cols="60" readonly class="hidden">
{% for id, name in prefectures %}
INSERT INTO prefecture (id, name) VALUES ({{ id|number_format }}, '{{ name }}');
{% endfor %}
</textarea>
</div>

<div>
    <h2 class="inline-block">SQL(id列なし)</h2>
    <button id="btn-sql-no-id" type="button" onclick="toggle('sql-no-id')">表示</button>
<textarea name="sql-no-id" id="sql-no-id" rows="50" cols="50" readonly class="hidden">
{% for id, name in prefectures %}
INSERT INTO prefecture (name) VALUES ('{{ name }}');
{% endfor %}
</textarea>
</div>

<div>
    <h2 class="inline-block">JSON</h2>
    <button id="btn-json" type="button" onclick="toggle('json')">表示</button>
<textarea name="json" id="json" rows="50" cols="50" readonly class="hidden">
{{ prefectures|json_encode(constant('JSON_PRETTY_PRINT') b-or constant('JSON_UNESCAPED_UNICODE')) }}
</textarea>
</div>

<p>
    ソースコード：
    <a href="https://github.com/ryo-utsunomiya/japanese-prefectures-api">https://github.com/ryo-utsunomiya/japanese-prefectures-api</a>
</p>
<script src="scripts/main.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42093596-3', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>
